<div class = "list">

    <a routerLink = "book-list" href="">Book Shop</a>

    <div class = "menu">

        <ul>
            
            <li><a  routerLink = "AuthorNames"    href="">Author Names</a></li>
            <li><a  routerLink = "Images"    href="">image details</a></li>
            <li><a  routerLink = "BookNames"    href="">Books Names</a></li>
            <li><a routerLink = "login"    href=""> Login</a></li>
            <li><a routerLink = "register" href="">Register</a></li>
            <li><a routerLink = "userlist" href="">UserList</a></li>
            <li><a (click) = "res()" href="">LogOut</a></li>
            
            
        </ul>
    </div>
    

</div>
<router-outlet ></router-outlet>

