<div class = "Register">
    <h4>Register</h4>
    <div class = "inputs">
        <label for="Email">Email </label>
        <input  type="text" placeholder="Email" [(ngModel)] = "vic.email" #email = "ngModel" >

        <label for="Password">Password </label>
        <input  type="text" placeholder="Password" [(ngModel)] = "vic.password">
        

        <label for="Conform Password">Conform Password  </label>
        <input  type="text" placeholder="Conform Password" [(ngModel)] = "vic.conform">
        
    </div>
    <button (click) = "welcome()">Submit</button>
    
    
</div>
